<div class="text-center mt-4">
  <h1 class="h2">Ecommerce APP!</h1>
  <p class="lead">
    Sign in to Admin control panel
  </p>
</div>

<div class="card">
  <div class="card-body">
    <div class="m-sm-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "form-control form-control-lg" %>
        </div>

        <div class="mb-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "form-control form-control-lg" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check align-items-center">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label text-small" %>
          </div>
        <% end %>

        <div class="d-grid gap-2 mt-3">
          <%= f.submit "Sign in", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


